# Project 3: Logistic Regression

##  Preparation and Overview (30 points total)

### [20 points] Explain the task and what business-case or use-case it is designed to solve (or designed to investigate).

Detail exactly what the classification task is and what parties would be interested in the results. For example, would the model be deployed or use mostly for offline analysis?

### [5 points] (mostly the same processes as from previous labs) Define and prepare your class variables.

Use proper variable representations (int, float, one-hot, etc.). Use pre-processing methods (as needed) for dimensionality reduction, scaling, etc. Remove variables that are not needed/useful for the analysis. Describe the final dataset that is used for classification/regression (include a description of any newly formed variables you created).

In [ ]:
import pandas as pd

#thousands option to turn string comma into numbers
df = pd.read_csv('FishData.csv', thousands=',')# read in the csv file

df.head()

print(df.info())


#removes weight class features where fish weight class is zero; 60 were not used
df = df.loc[:, (df != 0).any(axis=0)]
print(df.info())
print(df.describe())

#types seem okay
print (df.dtypes)
print(df.columns)

print(df.median())
print(df.tmt.max())
print(df.tno.max())

print(df.groupby(by='Quarter').median())
#biggest fish haul
print(df.iloc[df.tmt.idxmax()])

from matplotlib import pyplot as plt
import seaborn as sns

sns.set()
sns.pairplot(df, hue="target", size=2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16293 entries, 0 to 16292
Columns: 161 entries, Fishery to T150
dtypes: int64(156), object(5)
memory usage: 19.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16293 entries, 0 to 16292
Columns: 103 entries, Fishery to T102
dtypes: int64(98), object(5)
memory usage: 12.5+ MB
None
              Year       Quarter  FirstClassLow  SizeInterval           tno  \
count  16293.00000  16293.000000        16293.0       16293.0  1.629300e+04
mean    1991.47726      2.491684           10.0           1.0  2.403976e+05
std       17.74757      1.120423            0.0           0.0  8.331242e+05
min     1950.00000      1.000000           10.0           1.0  0.000000e+00
25%     1980.00000      1.000000           10.0           1.0  1.890000e+02
50%     1995.00000      2.000000           10.0           1.0  3.613000e+03
75%     2006.00000      3.000000           10.0           1.0  8.601000e+04
max     2016.00000      4.000000           10.0           1.0  1.429153e+07

                tmt          T001          T005          T006          T007  \
count  16293.000000  16293.000000  16293.000000  16293.000000  16293.000000
mean     797.205855      0.222918      0.117965     16.064506     32.371202
std     2712.178035      4.304902      9.134438    649.769802   1299.920293
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        1.000000      0.000000      0.000000      0.000000      0.000000
50%       16.000000      0.000000      0.000000      0.000000      0.000000
75%      304.000000      0.000000      0.000000      0.000000      0.000000
max    46611.000000    440.000000   1090.000000  35808.000000  71616.000000

           ...               T087          T088          T089          T090  \
count      ...       16293.000000  16293.000000  16293.000000  16293.000000
mean       ...           0.624685      0.330694      0.069600      0.089486
std        ...          24.506512     12.088166      3.309558      6.531006
min        ...           0.000000      0.000000      0.000000      0.000000
25%        ...           0.000000      0.000000      0.000000      0.000000
50%        ...           0.000000      0.000000      0.000000      0.000000
75%        ...           0.000000      0.000000      0.000000      0.000000
max        ...        1818.000000   1024.000000    357.000000    672.000000

               T091          T092          T097          T098          T101  \
count  16293.000000  16293.000000  16293.000000  16293.000000  16293.000000
mean      24.301847     24.301847      4.804149      4.804149      9.555576
std      242.199790    242.199790     49.299886     49.299886     98.588344
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000      0.000000
max     7454.000000   7454.000000   1589.000000   1589.000000   3178.000000

               T102
count  16293.000000
mean       9.555576
std       98.588344
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max     3178.000000

[8 rows x 98 columns]
Fishery          object
Fleet            object
Gear             object
Year              int64
Quarter           int64
IOTC_Area        object
FirstClassLow     int64
SizeInterval      int64
TimeStamp        object
tno               int64
tmt               int64
T001              int64
T005              int64
T006              int64
T007              int64
T008              int64
T009              int64
T011              int64
T012              int64
T013              int64
T014              int64
T015              int64
T016              int64
T017              int64
T018              int64
T019              int64
T020              int64
T021              int64
T022              int64
T023              int64
                  ...
T067              int64
T068              int64
T069              int64
T070              int64
T071              int64
T072              int64
T073              int64
T074              int64
T075              int64
T076              int64
T077              int64
T078              int64
T079              int64
T080              int64
T081              int64
T082              int64
T083              int64
T084              int64
T085              int64
T086              int64
T087              int64
T088              int64
T089              int64
T090              int64
T091              int64
T092              int64
T097              int64
T098              int64
T101              int64
T102              int64
Length: 103, dtype: object
Index(['Fishery', 'Fleet', 'Gear', 'Year', 'Quarter', 'IOTC_Area',
       'FirstClassLow', 'SizeInterval', 'TimeStamp', 'tno',
       ...
       'T087', 'T088', 'T089', 'T090', 'T091', 'T092', 'T097', 'T098', 'T101',
       'T102'],
      dtype='object', length=103)
Year             1995.0
Quarter             2.0
FirstClassLow      10.0
SizeInterval        1.0
tno              3613.0
tmt                16.0
T001                0.0
T005                0.0
T006                0.0
T007                0.0
T008                0.0
T009                0.0
T011                0.0
T012                0.0
T013                0.0
T014                0.0
T015                0.0
T016                0.0
T017                0.0
T018                0.0
T019                0.0
T020                0.0
T021                0.0
T022                0.0
T023                0.0
T024                0.0
T025                0.0
T026                1.0
T027                1.0
T028                2.0
                  ...
T067                0.0
T068                0.0
T069                0.0
T070                0.0
T071                0.0
T072                0.0
T073                0.0
T074                0.0
T075                0.0
T076                0.0
T077                0.0
T078                0.0
T079                0.0
T080                0.0
T081                0.0
T082                0.0
T083                0.0
T084                0.0
T085                0.0
T086                0.0
T087                0.0
T088                0.0
T089                0.0
T090                0.0
T091                0.0
T092                0.0
T097                0.0
T098                0.0
T101                0.0
T102                0.0
Length: 98, dtype: float64
46611
14291528
           Year  FirstClassLow  SizeInterval     tno   tmt  T001  T005  T006  \
Quarter
1        1995.0           10.0           1.0  4193.0  17.0   0.0   0.0   0.0
2        1995.0           10.0           1.0  3724.0  17.0   0.0   0.0   0.0
3        1995.0           10.0           1.0  2975.0  13.0   0.0   0.0   0.0
4        1995.0           10.0           1.0  3724.0  17.0   0.0   0.0   0.0

         T007  T008  ...   T087  T088  T089  T090  T091  T092  T097  T098  \
Quarter              ...
1         0.0   0.0  ...    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2         0.0   0.0  ...    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3         0.0   0.0  ...    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4         0.0   0.0  ...    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

         T101  T102
Quarter
1         0.0   0.0
2         0.0   0.0
3         0.0   0.0
4         0.0   0.0

[4 rows x 97 columns]
Fishery            Baitboat
Fleet                   MDV
Gear                     BB
Year                   2006
Quarter                   2
IOTC_Area        IO_Western
FirstClassLow            10
SizeInterval              1
TimeStamp         9/22/2017
tno                 9825157
tmt                   46611
T001                      0
T005                      0
T006                      0
T007                      0
T008                      0
T009                      0
T011                      0
T012                      0
T013                      0
T014                      0
T015                      0
T016                      0
T017                   3076
T018                   3076
T019                   6153
T020                   3076
T021                   6768
T022                   9844
T023                  12921
                    ...
T067                   4922
T068                    615
T069                   1231
T070                   1231
T071                      0
T072                      0
T073                      0
T074                      0
T075                      0
T076                      0
T077                      0
T078                      0
T079                      0
T080                      0
T081                      0
T082                      0
T083                      0
T084                      0
T085                      0
T086                      0
T087                      0
T088                      0
T089                      0
T090                      0
T091                      0
T092                      0
T097                      0
T098                      0
T101                      0
T102                      0
Name: 919, Length: 103, dtype: object

#### [5 points] Divide you data into training and testing data using an 80% training and 20% testing split.

Use the cross validation modules that are part of scikit-learn. Argue "for" or "against" splitting your data using an 80/20 split. That is, why is the 80/20 split appropriate (or not) for your dataset?

### Modeling (50 points total)

#### The implementation of logistic regression must be written only from the examples given to you by the instructor. No credit will be assigned to teams that copy implementations from another source, regardless of if the code is properly cited.

#### [20 points] Create a custom, one-versus-all logistic regression classifier using numpy and scipy to optimize.

Use object oriented conventions identical to scikit-learn. You should start with the template developed by the instructor in the course. You should add the following functionality to the logistic regression classifier:Ability to choose optimization technique when class is instantiated: either steepest descent, stochastic gradient descent, or Newton's method.  Update the gradient calculation to include a customizable regularization term (either using no regularization, L1 regularization, L2 regularization, or both L1 and L2 regularization). Associate a cost with the regularization term, "C", that can be adjusted when the class is instantiated.

#### [15 points] Train your classifier to achieve good generalization performance.

 That is, adjust the optimization technique and the value of the regularization term "C" to achieve the best performance on your test set. Visualize the performance of the classifier versus the parameters you investigated. Is your method of selecting parameters justified? That is, do you think there is any "data snooping" involved with this method of selecting parameters?

#### [15 points] Compare the performance of your "best" logistic regression optimization procedure to the procedure used in scikit-learn. Visualize the performance differences in terms of training time and classification performance. Discuss the results.

#### Deployment (10 points total)

Which implementation of logistic regression would you advise be used in a deployed machine learning model, your implementation or scikit-learn (or other third party)? Why?

#### Exceptional Work (10 points total)

You have free reign to provide additional analyses. One idea: Update the code to use either "one-versus-all" or "one-versus-one" extensions of binary to multi-class classification. 
        One idea (required for 7000 level students): Implement an optimization technique for logistic regression using mean square error as your objective function (instead of binary entropy). Your solution should be able to solve the binary logistic regression problem in one gradient update step.